# CODING DOJO 
## Fecha creación:12/2/2022
## Fecha de actualización: 13/3/2022
## Esteban Simbaña

# Ejercicio de Potenciación del gradiente (Concurso de Kaggle)

#**Limpieza de datos - Base de datos de prueba**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
nombrearchivo = '/content/drive/MyDrive/Coding Dojo/Proyecto 2/test.csv'
df = pd.read_csv(nombrearchivo)
df.head()

,id,name,release_date,artists,total_tracks,t_name0,t_name1,t_name2,t_dur0,t_dur1,...,t_live2,t_val0,t_val1,t_val2,t_tempo0,t_tempo1,t_tempo2,t_sig0,t_sig1,t_sig2
0,160000,Vizlaxy One,2021-08-24,"The Vizlaxy,",11,Ciko,Kumne,Pod Sem,34901,33343.0,...,0.0785,0.0397,0.0381,0.0374,89.674,84.987,122.585,3.0,4.0,4.0
1,160001,OTW (Acoustic Version),2018-06-25,"Missy & Blonde,",1,OTW - Acoustic Version,NaN,NaN,201655,NaN,...,NaN,0.5300,NaN,NaN,129.998,NaN,NaN,4.0,NaN,NaN
2,160002,Ocean Avenue,2003-01-01,"Yellowcard,",13,Way Away,Breathing,Ocean Avenue,202093,218706.0,...,0.0947,0.3640,0.5700,0.7860,179.644,179.581,173.734,4.0,4.0,4.0
3,160003,Bloomsday (Remastered),2018-02-16,"Esbe,",19,Float - Remastered,Fulfill / The Dream - Remastered,Wanderlust - Remastered,182783,416000.0,...,0.2600,0.4560,0.1070,0.5830,194.107,89.533,134.016,3.0,4.0,4.0
4,160004,Miss You,2021-09-03,"SLANDER, Ganja White Night,",1,Miss You,NaN,NaN,200000,NaN,...,NaN,0.0526,NaN,NaN,74.473,NaN,NaN,4.0,NaN,NaN

In [4]:
df.shape

(21207, 44)

# Limpieza de datos

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21207 entries, 0 to 21206
Data columns (total 44 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            21207 non-null  int64
 1   name          21206 non-null  object
 2   release_date  21207 non-null  object
 3   artists       21207 non-null  object
 4   total_tracks  21207 non-null  int64
 5   t_name0       21206 non-null  object
 6   t_name1       14919 non-null  object
 7   t_name2       14417 non-null  object
 8   t_dur0        21207 non-null  int64
 9   t_dur1        14919 non-null  float64
 10  t_dur2        14417 non-null  float64
 11  t_dance0      21171 non-null  float64
 12  t_dance1      14905 non-null  float64
 13  t_dance2      14411 non-null  float64
 14  t_energy0     21171 non-null  float64
 15  t_energy1     14905 non-null  float64
 16  t_energy2     14411 non-null  float64
 17  t_key0        21171 non-null  float64
 18  t_key1        14905 non-null  float64
 19  t_key2        14411 non-null  float64
 20  t_mode0       21171 non-null  float64
 21  t_mode1       14905 non-null  float64
 22  t_mode2       14411 non-null  float64
 23  t_speech0     21171 non-null  float64
 24  t_speech1     14905 non-null  float64
 25  t_speech2     14411 non-null  float64
 26  t_acous0      21171 non-null  float64
 27  t_acous1      14905 non-null  float64
 28  t_acous2      14411 non-null  float64
 29  t_ins0        21171 non-null  float64
 30  t_ins1        14905 non-null  float64
 31  t_ins2        14411 non-null  float64
 32  t_live0       21171 non-null  float64
 33  t_live1       14905 non-null  float64
 34  t_live2       14411 non-null  float64
 35  t_val0        21171 non-null  float64
 36  t_val1        14905 non-null  float64
 37  t_val2        14411 non-null  float64
 38  t_tempo0      21171 non-null  float64
 39  t_tempo1      14905 non-null  float64
 40  t_tempo2      14411 non-null  float64
 41  t_sig0        21171 non-null  float64
 42  t_sig1        14905 non-null  float64
 43  t_sig2        14411 non-null  float64
dtypes: float64(35), int64(3), object(6)
memory usage: 7.1+ MB

Apartamos las columnas que tienen muchos datos faltantes para comprobar si se pueden eliminar

In [6]:
#Se muestran las columnas que tienen datos faltantes
miss_values_count = df.isnull().sum(min_count=1)
miss_values_count_b = miss_values_count[miss_values_count != 0]
miss_values_count_b

name            1
t_name0         1
t_name1      6288
t_name2      6790
t_dur1       6288
t_dur2       6790
t_dance0       36
t_dance1     6302
t_dance2     6796
t_energy0      36
t_energy1    6302
t_energy2    6796
t_key0         36
t_key1       6302
t_key2       6796
t_mode0        36
t_mode1      6302
t_mode2      6796
t_speech0      36
t_speech1    6302
t_speech2    6796
t_acous0       36
t_acous1     6302
t_acous2     6796
t_ins0         36
t_ins1       6302
t_ins2       6796
t_live0        36
t_live1      6302
t_live2      6796
t_val0         36
t_val1       6302
t_val2       6796
t_tempo0       36
t_tempo1     6302
t_tempo2     6796
t_sig0         36
t_sig1       6302
t_sig2       6796
dtype: int64

Se observa un patrón donde las canciones seleccionadas 2 y 3, en sus características existen una gran parte de datos faltantes.

Ya que el 30% de datos faltantes se consideran que pueden ser eliminadas

En este caso al tener una df extensa se optará a que las columnas que tengan un número grande de filas con datos faltantes, eliminarlas

In [7]:
#creamos lista de nombres de las columnas 
nombres_columnas = list(miss_values_count_b.keys())
nombres_columnas

['name',
 't_name0',
 't_name1',
 't_name2',
 't_dur1',
 't_dur2',
 't_dance0',
 't_dance1',
 't_dance2',
 't_energy0',
 't_energy1',
 't_energy2',
 't_key0',
 't_key1',
 't_key2',
 't_mode0',
 't_mode1',
 't_mode2',
 't_speech0',
 't_speech1',
 't_speech2',
 't_acous0',
 't_acous1',
 't_acous2',
 't_ins0',
 't_ins1',
 't_ins2',
 't_live0',
 't_live1',
 't_live2',
 't_val0',
 't_val1',
 't_val2',
 't_tempo0',
 't_tempo1',
 't_tempo2',
 't_sig0',
 't_sig1',
 't_sig2']

In [8]:
columnas_drop = []
for i in range (len(miss_values_count_b)):
  if (miss_values_count_b[i] > 220):
      columnas_drop.append(nombres_columnas[i])

In [9]:
columnas_drop

['t_name1',
 't_name2',
 't_dur1',
 't_dur2',
 't_dance1',
 't_dance2',
 't_energy1',
 't_energy2',
 't_key1',
 't_key2',
 't_mode1',
 't_mode2',
 't_speech1',
 't_speech2',
 't_acous1',
 't_acous2',
 't_ins1',
 't_ins2',
 't_live1',
 't_live2',
 't_val1',
 't_val2',
 't_tempo1',
 't_tempo2',
 't_sig1',
 't_sig2']

In [10]:
#eliminamos las filas que contienen datos faltantes 
df1 = df.dropna(subset=columnas_drop)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14410 entries, 0 to 21206
Data columns (total 44 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            14410 non-null  int64
 1   name          14409 non-null  object
 2   release_date  14410 non-null  object
 3   artists       14410 non-null  object
 4   total_tracks  14410 non-null  int64
 5   t_name0       14409 non-null  object
 6   t_name1       14410 non-null  object
 7   t_name2       14410 non-null  object
 8   t_dur0        14410 non-null  int64
 9   t_dur1        14410 non-null  float64
 10  t_dur2        14410 non-null  float64
 11  t_dance0      14384 non-null  float64
 12  t_dance1      14410 non-null  float64
 13  t_dance2      14410 non-null  float64
 14  t_energy0     14384 non-null  float64
 15  t_energy1     14410 non-null  float64
 16  t_energy2     14410 non-null  float64
 17  t_key0        14384 non-null  float64
 18  t_key1        14410 non-null  float64
 19  t_key2        14410 non-null  float64
 20  t_mode0       14384 non-null  float64
 21  t_mode1       14410 non-null  float64
 22  t_mode2       14410 non-null  float64
 23  t_speech0     14384 non-null  float64
 24  t_speech1     14410 non-null  float64
 25  t_speech2     14410 non-null  float64
 26  t_acous0      14384 non-null  float64
 27  t_acous1      14410 non-null  float64
 28  t_acous2      14410 non-null  float64
 29  t_ins0        14384 non-null  float64
 30  t_ins1        14410 non-null  float64
 31  t_ins2        14410 non-null  float64
 32  t_live0       14384 non-null  float64
 33  t_live1       14410 non-null  float64
 34  t_live2       14410 non-null  float64
 35  t_val0        14384 non-null  float64
 36  t_val1        14410 non-null  float64
 37  t_val2        14410 non-null  float64
 38  t_tempo0      14384 non-null  float64
 39  t_tempo1      14410 non-null  float64
 40  t_tempo2      14410 non-null  float64
 41  t_sig0        14384 non-null  float64
 42  t_sig1        14410 non-null  float64
 43  t_sig2        14410 non-null  float64
dtypes: float64(35), int64(3), object(6)
memory usage: 4.9+ MB

Seguimos teniendo un Data Frame bastante extenso, por lo que ahora se mirará las columnas con datos fatltantes que quedan

In [11]:
df1.isnull().sum()

id               0
name             1
release_date     0
artists          0
total_tracks     0
t_name0          1
t_name1          0
t_name2          0
t_dur0           0
t_dur1           0
t_dur2           0
t_dance0        26
t_dance1         0
t_dance2         0
t_energy0       26
t_energy1        0
t_energy2        0
t_key0          26
t_key1           0
t_key2           0
t_mode0         26
t_mode1          0
t_mode2          0
t_speech0       26
t_speech1        0
t_speech2        0
t_acous0        26
t_acous1         0
t_acous2         0
t_ins0          26
t_ins1           0
t_ins2           0
t_live0         26
t_live1          0
t_live2          0
t_val0          26
t_val1           0
t_val2           0
t_tempo0        26
t_tempo1         0
t_tempo2         0
t_sig0          26
t_sig1           0
t_sig2           0
dtype: int64

En este caso imputaremos el valor promedio entre las características de las canciones posteriores (1,2)

In [12]:
df1.head()

,id,name,release_date,artists,total_tracks,t_name0,t_name1,t_name2,t_dur0,t_dur1,...,t_live2,t_val0,t_val1,t_val2,t_tempo0,t_tempo1,t_tempo2,t_sig0,t_sig1,t_sig2
0,160000,Vizlaxy One,2021-08-24,"The Vizlaxy,",11,Ciko,Kumne,Pod Sem,34901,33343.0,...,0.0785,0.0397,0.0381,0.0374,89.674,84.987,122.585,3.0,4.0,4.0
2,160002,Ocean Avenue,2003-01-01,"Yellowcard,",13,Way Away,Breathing,Ocean Avenue,202093,218706.0,...,0.0947,0.3640,0.5700,0.7860,179.644,179.581,173.734,4.0,4.0,4.0
3,160003,Bloomsday (Remastered),2018-02-16,"Esbe,",19,Float - Remastered,Fulfill / The Dream - Remastered,Wanderlust - Remastered,182783,416000.0,...,0.2600,0.4560,0.1070,0.5830,194.107,89.533,134.016,3.0,4.0,4.0
5,160005,epd 2004-2007,2020-04-12,"stomach patrol.,",6,experimusium,星に願う。,dearest.,57000,192000.0,...,0.0803,0.2790,0.8380,0.9810,117.984,144.973,139.976,4.0,4.0,4.0
7,160007,Thanks Again,2021-08-20,"Smoke DZA, 183rd, Nym Lo,",12,365,Chin Music,60/40,107755,120058.0,...,0.1880,0.6080,0.4860,0.7000,78.704,116.002,71.992,4.0,4.0,3.0

In [13]:
df1.reset_index(inplace=True, drop=True)

In [14]:
df1['t_dance0'][590]

0.824

In [15]:
#convertimos en lista los valores de la columnas 1 y 2 de la respectiva cancion
lista_td1 = list(df1['t_dance1'])
lista_td2 = list(df1['t_dance2'])

In [16]:
#reemplazamos los valores por el promedio de las caracteristicas propias de las canciones de cada album
df1 = df1.fillna(-1)
lista_td = list(df1['t_dance0'])
for i in range ((len(lista_td))):
  if (lista_td[i] == -1): 
    print(i)
    print(lista_td1[i])
    print(lista_td2[i])
    df1['t_dance0'][i] = ((lista_td1[i]+lista_td2[i])/2)

360
0.621
0.664
1190
0.475
0.56
1583
0.621
0.664
3628
0.56
0.478
4251
0.475
0.56
5032
0.373
0.792
5460
0.475
0.56
6386
0.475
0.56
6789
0.475
0.56
7177
0.373
0.792
7783
0.621
0.664
8066
0.475
0.56
8683
0.475
0.56
9335
0.475
0.56
9471
0.621
0.664
9533
0.708
0.649
9602
0.475
0.56
9789
0.475
0.56
10727
0.475
0.56
11412
0.475
0.56
12166
0.475
0.56
12392
0.475
0.56
13455
0.621
0.664
13548
0.621
0.664
13647
0.621
0.664
14109
0.373
0.792

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [17]:
df1.shape

(14410, 44)

In [18]:
df1['t_dance0'][590]

0.824

Realizamos el mismo proceso con las otras columnas

t_energy

In [19]:
#convertimos en lista los valores de la columnas 1 y 2 de la respectiva cancion
lista_te1 = list(df1['t_energy1'])
lista_te2 = list(df1['t_energy2'])

lista_te = list(df1['t_energy0'])
for i in range ((len(lista_te))):
  if (lista_te[i] == -1): 
    df1['t_energy0'][i] = ((lista_te1[i]+lista_te2[i])/2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

t_key

In [20]:
lista_tk1 = list(df1['t_key1'])
lista_tk2 = list(df1['t_key2'])
lista_tk = list(df1['t_key0'])

for i in range ((len(lista_tk))):
  if (lista_tk[i] == -1): 
    df1['t_key0'][i] = ((lista_tk1[i]+lista_tk2[i])/2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

t_mode

In [21]:
lista_tm1 = list(df1['t_mode1'])
lista_tm2 = list(df1['t_mode2'])
lista_tm = list(df1['t_mode0'])

for i in range ((len(lista_tm))):
  if (lista_tm[i] == -1): 
    df1['t_mode0'][i] = ((lista_tm1[i]+lista_tm2[i])/2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

t_speech

In [22]:
lista_ts1 = list(df1['t_speech1'])
lista_ts2 = list(df1['t_speech2'])
lista_ts = list(df1['t_speech0'])

for i in range ((len(lista_ts))):
  if (lista_ts[i] == -1): 
    df1['t_speech0'][i] = ((lista_ts1[i]+lista_ts2[i])/2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

t_acous

In [23]:
lista_ta1 = list(df1['t_acous1'])
lista_ta2 = list(df1['t_acous2'])
lista_ta = list(df1['t_acous0'])

for i in range ((len(lista_ta))):
  if (lista_ta[i] == -1): 
    df1['t_acous0'][i] = ((lista_ta1[i]+lista_ta2[i])/2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

t_ins

In [24]:
lista_ti1 = list(df1['t_ins1'])
lista_ti2 = list(df1['t_ins2'])
lista_ti = list(df1['t_ins0'])

for i in range ((len(lista_ti))):
  if (lista_ti[i] == -1): 
    df1['t_ins0'][i] = ((lista_ti1[i]+lista_ti2[i])/2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

t_live

In [25]:
lista_tl1 = list(df1['t_live1'])
lista_tl2 = list(df1['t_live2'])
lista_tl = list(df1['t_live0'])

for i in range ((len(lista_tl))):
  if (lista_tl[i] == -1): 
    df1['t_live0'][i] = ((lista_tl1[i]+lista_tl2[i])/2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

t_val

In [26]:
lista_tv1 = list(df1['t_val1'])
lista_tv2 = list(df1['t_val2'])
lista_tv = list(df1['t_val0'])

for i in range ((len(lista_tv))):
  if (lista_tv[i] == -1): 
    df1['t_val0'][i] = ((lista_tv1[i]+lista_tv2[i])/2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

t_tempo

In [27]:
lista_tt1 = list(df1['t_tempo1'])
lista_tt2 = list(df1['t_tempo2'])
lista_tt = list(df1['t_tempo0'])

for i in range ((len(lista_tt))):
  if (lista_tt[i] == -1): 
    df1['t_tempo0'][i] = ((lista_tt1[i]+lista_tt2[i])/2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

t_sig

In [28]:
lista_tsi1 = list(df1['t_sig1'])
lista_tsi2 = list(df1['t_sig2'])
lista_tsi = list(df1['t_sig0'])

for i in range ((len(lista_tsi))):
  if (lista_tsi[i] == -1): 
    df1['t_sig0'][i] = ((lista_tsi1[i]+lista_tsi2[i])/2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [29]:
df1.isnull().sum()

id              0
name            0
release_date    0
artists         0
total_tracks    0
t_name0         0
t_name1         0
t_name2         0
t_dur0          0
t_dur1          0
t_dur2          0
t_dance0        0
t_dance1        0
t_dance2        0
t_energy0       0
t_energy1       0
t_energy2       0
t_key0          0
t_key1          0
t_key2          0
t_mode0         0
t_mode1         0
t_mode2         0
t_speech0       0
t_speech1       0
t_speech2       0
t_acous0        0
t_acous1        0
t_acous2        0
t_ins0          0
t_ins1          0
t_ins2          0
t_live0         0
t_live1         0
t_live2         0
t_val0          0
t_val1          0
t_val2          0
t_tempo0        0
t_tempo1        0
t_tempo2        0
t_sig0          0
t_sig1          0
t_sig2          0
dtype: int64

In [30]:
df1.describe()

,id,total_tracks,t_dur0,t_dur1,t_dur2,t_dance0,t_dance1,t_dance2,t_energy0,t_energy1,...,t_live2,t_val0,t_val1,t_val2,t_tempo0,t_tempo1,t_tempo2,t_sig0,t_sig1,t_sig2
count,14410.000000,14410.000000,1.441000e+04,1.441000e+04,1.441000e+04,14410.000000,14410.000000,14410.000000,14410.000000,14410.000000,...,14410.000000,14410.000000,14410.000000,14410.000000,14410.000000,14410.000000,14410.000000,14410.000000,14410.000000,14410.000000
mean,170580.627134,15.898543,2.019937e+05,2.127128e+05,2.133645e+05,0.576012,0.606250,0.607187,0.607745,0.631896,...,0.189540,0.459777,0.492383,0.484115,119.197417,121.041798,121.048549,3.874670,3.915198,3.901596
std,6108.815450,27.835123,1.122413e+05,9.630538e+04,9.150560e+04,0.184204,0.177848,0.179559,0.244068,0.231337,...,0.153222,0.263016,0.252071,0.254818,31.953735,30.674660,30.855465,0.557827,0.417400,0.457088
min,160000.000000,3.000000,4.186000e+03,6.653000e+03,2.113000e+03,0.000000,0.000000,0.000000,0.000000,0.000020,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,165307.250000,10.000000,1.495835e+05,1.700162e+05,1.695505e+05,0.458000,0.495000,0.499000,0.452000,0.494000,...,0.097800,0.242000,0.292000,0.284000,94.965000,96.073500,96.122250,4.000000,4.000000,4.000000
50%,170580.500000,13.000000,1.972530e+05,2.041800e+05,2.063460e+05,0.595000,0.629000,0.625000,0.635000,0.663000,...,0.126000,0.450000,0.496000,0.478000,119.852000,120.015000,120.034000,4.000000,4.000000,4.000000
75%,175870.750000,16.000000,2.423462e+05,2.437270e+05,2.446510e+05,0.713000,0.734000,0.740000,0.808000,0.813000,...,0.236000,0.665000,0.691750,0.683000,140.026000,140.991000,141.780750,4.000000,4.000000,4.000000
max,181206.000000,930.000000,3.664274e+06,5.625939e+06,3.369482e+06,0.980000,0.980000,0.985000,1.000000,1.000000,...,0.991000,1.000000,0.990000,1.000000,220.357000,220.030000,219.967000,5.000000,5.000000,5.000000

De esta manera podemos ver que todos los datos nan que tenían (-1) fueron eliminados y sustituidos

In [31]:
df1.isnull().sum()

id              0
name            0
release_date    0
artists         0
total_tracks    0
t_name0         0
t_name1         0
t_name2         0
t_dur0          0
t_dur1          0
t_dur2          0
t_dance0        0
t_dance1        0
t_dance2        0
t_energy0       0
t_energy1       0
t_energy2       0
t_key0          0
t_key1          0
t_key2          0
t_mode0         0
t_mode1         0
t_mode2         0
t_speech0       0
t_speech1       0
t_speech2       0
t_acous0        0
t_acous1        0
t_acous2        0
t_ins0          0
t_ins1          0
t_ins2          0
t_live0         0
t_live1         0
t_live2         0
t_val0          0
t_val1          0
t_val2          0
t_tempo0        0
t_tempo1        0
t_tempo2        0
t_sig0          0
t_sig1          0
t_sig2          0
dtype: int64

Aplicada la misma limpieza al conjunto de datos de prueba, que en el conjunto de datos de entrenamiento;finalmente la exportamos como 'df_prueba'

In [32]:
df_prueba = df1

In [33]:
df_prueba.shape

(14410, 44)

In [34]:
df_prueba.to_csv('/content/drive/MyDrive/Coding Dojo/Proyecto 2/Df_prueba/df_prueba.csv')